/* CSS var and font */
:root{
    font-family:'Nunito',sans-serif;
}
/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Importance smooth */
html {
    scroll-behavior: smooth; 
}

.nav{
  display:flex;
  background-color:rgb(110, 85, 29);
  color:rgb(241, 236, 236);
  height:10%;
  width:100%;
  align-items: center;
  padding: 0 1rem;
}
.logo{
  float: left;
  font-size: 2rem;
  font-family: 'Brush Script MT', sans-serif;
  font-weight: 500;
  margin-right:auto;
}
.name{
  margin:1rem;
  font-size: 1rem;
}
.profile{
  width: 35px;
  border-radius:50%;
}
.bookContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem 1rem;
}
.book{
  margin: 0 1rem 1rem 0;
  padding: 1rem;
  background-color: rgb(163, 156, 156);
  color:white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  text-align: center;
}
.book > *{
  margin: 0.5rem;
}
.book > button{
  border: 0;
  color:white;
  background-color: #89cff094;
  font-size: 1rem;
  font-weight: 700;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}
.book > button:hover{
  background-color: rgb(96, 96, 223);
}
.add{
  display: block;
  border: 0;
  font-weight: 700;
  background-color: white;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  margin: 0 auto;
}
.add:hover{
  background-color: lightgray;
}